<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Portfolio</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Sansita:wght@400;700&family=Georgia&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/about.css">
</head>

<body>
    <!-- Header(navigacija) -->
    <header>
        <div class="container header-container">
            <h1 class="h-title">Portfolio - Milan Gordic</h1>
            <nav class="nav-menu" id="nav-menu">
                <ul>
                    <li><a href="homepage.html">Home</a></li>
                    <li><a href="about.html" class="active">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <!-- Close Menu Icon -->
                <div class="close-menu" id="close-menu">&times;</div>
            </nav>
            <!-- Menu -->
            <div class="menu-toggle" id="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <!-- About Sekcija -->
    <main class="about-main">
        <div class="container about-container">
            <div class="about-content">
                <div class="about-image">
                    <img src="../assets/profilePicture.jpg" alt="Milan's Image">
                </div>
                <h2 class="about-title">I am <strong>Milan</strong>,</h2>
                <p>
                    passionate and experienced game developer specializing in <strong>Unity</strong> and <strong>
                        Unreal
                        Engine
                    </strong>,
                    with 4+ years of professional experience creating engaging and scalable gaming experiences. My
                    expertise spans
                    crafting immersive gameplay mechanics, optimizing performance across platforms, and building
                    multiplayer systems.
                </p>
                <p>
                    I've contributed to a variety of projects, including multiplayer WebGL games, hyper-casual mobile
                    titles,
                    and large-scale Unreal Engine developments. Recently, I’ve expanded my skill set by creating maps in
                    <strong>UEFN</strong> (Unreal Engine for Fortnite), with plans to release them soon.
                </p>
                <p>
                    I thrive in collaborative, creative environments, where I can transform innovative ideas into
                    polished gaming
                    experiences. With a commitment to clean, maintainable code and a sharp eye for detail, I aim to
                    elevate every
                    project I work on.
                </p>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer id="contact">
        <div class="footer-container">
            <p class="email">milan.gordic3@hotmail.com</p>
            <div class="social" href="https://www.linkedin.com/in/milangordic3/">
                <a href="https://www.linkedin.com/in/milangordic3/" target=”_blank”>in</a>
            </div>
        </div>
    </footer>
    <script src="../scripts/nav.js"></script>
</body>

</html>