<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Portfolio</title>
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/homepage.css">
  <link href="https://fonts.googleapis.com/css2?family=Sansita:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Header(navigacija) -->
  <header>
    <div class="container header-container">
      <h1 class="h-title">Portfolio - Milan Gordic</h1>
      <nav class="nav-menu" id="nav-menu">
        <ul>
          <li><a href="homepage.html" class="active">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <!-- Close Menu Icon -->
        <div class="close-menu" id="close-menu">&times;</div>
      </nav>
      <!-- Menu -->
      <div class="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>
  <main class='p-main'>
    <div class="p-content">
      <section class="g-item">
        <div class="g-image">
          <img src="../assets/gameimg2.jpg" alt="Qoomon Quest">
        </div>
        <div class="g-info">
          <h2 class="g-title">Qoomon Quest</h2>
          <p>Fast paced</p>
          <a href="#" class="btn">Link</a>
        </div>
      </section>
      <section class="g-item">
        <div class="g-image">
          <img src="../assets/gameimg1.jpg" alt="Infinity Heroes">
        </div>
        <div class="g-info">
          <h2 class="g-title">Infinity Heroes</h2>
          <p>Fast paced</p>
          <a href="#" class="btn">Link</a>
        </div>
      </section>
    </div>
  </main>

  <!-- Footer -->
  <footer id="contact">
    <div class="footer-container">
      <p class="email">milan.gordic3@hotmail.com</p>
      <div class="social">
        <p>in</p>
      </div>
    </div>
  </footer>

  <script src="../scripts/nav.js"></script>
</body>

</html>